@model DesignPattern.Decorator.DAL.Message
@{
    ViewData["Title"] = "Index3";
}

<form method="post">
    <label>Gönderen</label>
    <input type="text" class="form-control" asp-for="Sender" />
    <br />
    <label>Alıcı</label>
    <input type="text" class="form-control" asp-for="Reciever" />
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" asp-for="Subject" />
    <br />
    <label>Mesaj İçeriği</label>
    <input type="text" class="form-control" asp-for="Content" />
    <br />
    <button class="btn btn-warning">Mesajı Gönder</button>
</form>

